@model IEnumerable<TmsUI.Models.Load>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoadNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Broker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoadNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Broker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PickUpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
